<div class="view">
  <div class="layout layout--row">
    <div class="column">
      <table class="table table--condensed" id="dispatch-table">
        <thead>
          <tr>
            <th style="width:5%">
              <span class="label label--medium">&nbsp;</span></th>
            <th>
              <span class="label label--medium">Description</span></th>
            <th style="width:15%">
              <span class="label label--medium">Received</span></th>
            <th>
              <span class="label label--medium">Location</span></th>
            <th>
              <span class="label label--medium">Zone</span></th>
          </tr>
        </thead>
        <tbody id="dispatch-tbody">
          {% for row in features, limit: 6 %}
          <tr>
            <td><span class="label label--small">{{ row.attributes.IncidentTypeCode }}</span></td>
            <td><span class="description">{{ row.attributes.IncidentTypeName }}</span></td>
            <td><span class="label label--small text--center">{{ row.attributes.CallReceivedTime | divided_by: 1000 | date: "%s" | plus: trmnl.user.utc_offset | date: '%l:%M %p' }}</span></td>
            <td><span class="label label--small">{{ row.attributes.Location }}</span></td>
            <td><span class="label label--small">{{ row.attributes.CityName }}</span></td>
          </tr>
          {% else %}
          <tr>
            <td colspan="5"><span class="label label--large py--20">No active incidents</span></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
